body{
    background-color: aqua;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/aa428070668927.5bab2b198b78b.gif); 
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.p1{
    background-color: black;
    color:antiquewhite;
}

.p2{
    font-family: Arial;
    background-color: white;
    color:black;
}

a{
    color: white;
}

a:hover{
    color: red;
}

th.t1{
    background-color:black;
    color:white;
    border: 1px solid white;
}

a:visited{
    color: skyblue;
}

a:visited:hover{
    color: red;
}
  
table, th, td{
    background-color:black;
    color:peru;
    border: 1px solid white;
}

table:hover{
    background-color: aqua;
}

iframe{
    position:relative;
}
